<p>
    <div style="height:140px; margin:0px auto 0px auto; position:relative; width:780px;">
        <select class="form-control" style="height:140px; left:0px; position:absolute; top:0px; width:300px;" multiple="multiple"></select>
        <button class="btn btn-outline-primary" style="height:140px; left:310px; position:absolute; top:0px; width:150px;">Input<br>image</button>
        <button class="btn btn-outline-primary" style="height:40px; left:470px; position:absolute; top:0px; width:150px;">DPT</button>
        <button class="btn btn-outline-primary" style="height:40px; left:470px; position:absolute; top:50px; width:150px;">Boosting</button>
        <button class="btn btn-outline-primary" style="height:40px; left:470px; position:absolute; top:100px; width:150px;">Ours</button>
        <button class="btn btn-outline-primary" style="height:140px; left:630px; position:absolute; top:0px; width:150px;">Mask<br>(for ours)</button>
    </div>
</p>

<p>
    <img style="margin:0px auto 0px auto; max-height:800px; max-width:800px;"></img>
    <img style="margin:0px auto 0px auto; max-height:800px; max-width:800px;"></img>
    <img style="margin:0px auto 0px auto; max-height:800px; max-width:800px;"></img>
    <img style="margin:0px auto 0px auto; max-height:800px; max-width:800px;"></img>
    <img style="margin:0px auto 0px auto; max-height:800px; max-width:800px;"></img>
</p>

<div style="background-color:#FFFFFF; bottom:0px; font-size:14px; left:0px; padding:10px; position:relative; right:0px; text-align:left;">
<!--     All images are from <a href="https://unsplash.com/">unsplash</a>, <a href="https://pixabay.com/">pixabay</a> and <a href="https://stock.adobe.com/">Adobe Stock</a>.
    <br> -->
    [1] Ranftl et al., <a href="https://github.com/isl-org/DPT">Vision Transformers for Dense Prediction</a>, ICCV, 2021.
    <br>
    [2] Miangoleh et al., <a href="http://yaksoy.github.io/highresdepth/">Boosting Monocular Depth Estimation Models to High-Resolution via Content-Adaptive Multi-Resolution Merging</a>, CVPR, 2021. 
</div>

<script type="text/javascript">
    jQuery(window.document).ready(function () {
        jQuery('select')
            .on('change', function() {
                jQuery('img').eq(0)
                    .attr({
                        'src': 'comparisons/rgb/' + jQuery(this).val() + '.jpg'
                    })
                ;

                jQuery('img').eq(1)
                    .attr({
                        'src': 'comparisons/dpt/' + jQuery(this).val() + '_depth.png'
                    })
                ;

                jQuery('img').eq(2)
                    .attr({
                        'src': 'comparisons/boosting/' + jQuery(this).val() + '.png'
                    })
                ;

                jQuery('img').eq(3)
                    .attr({
                        'src': 'comparisons/ours/' + jQuery(this).val() + '_pred.png'
                    })
                ;

                jQuery('img').eq(4)
                    .attr({
                        'src': 'comparisons/mask/' + jQuery(this).val() + '_mask.png'
                    })
                ;

                jQuery('img')
                    .each(function() {
                        (new Image()).src = jQuery(this).attr('src');
                    })
                ;
            })
            .each(function() {
                for (let strSample of [
                    'AdobeStock_63181133',
                ]) {
                    jQuery(this)
                        .append(jQuery('<option></option')
                            .attr({
                                'value': strSample
                            })
                            .text(strSample)
                        )
                }

                jQuery(this)
                    .val('AdobeStock_63181133')
                ;

                jQuery(this).triggerHandler('change');
            })
        ;

        jQuery('button')
            .on('mouseover', function() {
                jQuery('button')
                    .addClass('btn-outline-primary')
                    .removeClass('btn-primary')
                ;

                jQuery('button').eq(jQuery(this).index() - 1)
                    .addClass('btn-primary')
                    .removeClass('btn-outline-primary')
                ;

                jQuery('img')
                    .css({
                        'display': 'none'
                    })
                ;

                jQuery('img').eq(jQuery(this).index() - 1)
                    .css({
                        'display': 'block'
                    })
                ;
            })
            .eq(0)
                .each(function() {
                    jQuery(this).triggerHandler('mouseover');
                })
            .end()
        ;
    });
</script>
